	<URLReservations>
		<Application>
			<Name>ReportServerWebService</Name>
			<VirtualDirectory>ReportServer</VirtualDirectory>
			<URLs>
      	<URL>
					<UrlString>http://+:80</UrlString>
					<AccountSid>S-1-5-80-1730998386-2757299892-37364343-1607169425-3512908663</AccountSid>
					<AccountName>NT SERVICE\PowerBIReportServer</AccountName>
				</URL>
				<URL>
					<UrlString>https://san1.myorg.com:443</UrlString>
					<AccountSid>S-1-5-80-1730998386-2757299892-37364343-1607169425-3512908663</AccountSid>
					<AccountName>NT SERVICE\PowerBIReportServer</AccountName>
				</URL>
				<URL>
					<UrlString>https://san2.myorg.com:443</UrlString>
					<AccountSid>S-1-5-80-1730998386-2757299892-37364343-1607169425-3512908663</AccountSid>
					<AccountName>NT SERVICE\PowerBIReportServer</AccountName>
				</URL>
			</URLs>
		</Application>
		<Application>
			<Name>ReportServerWebApp</Name>
			<VirtualDirectory>Reports</VirtualDirectory>
			<URLs>
				<URL>
					<UrlString>http://+:80</UrlString>
					<AccountSid>S-1-5-80-1730998386-2757299892-37364343-1607169425-3512908663</AccountSid>
					<AccountName>NT SERVICE\PowerBIReportServer</AccountName>
				</URL>
				<URL>
					<UrlString>https://san1.myorg.com:443</UrlString>
					<AccountSid>S-1-5-80-1730998386-2757299892-37364343-1607169425-3512908663</AccountSid>
					<AccountName>NT SERVICE\PowerBIReportServer</AccountName>
				</URL>
				<URL>
					<UrlString>https://san2.myorg.com:443</UrlString>
					<AccountSid>S-1-5-80-1730998386-2757299892-37364343-1607169425-3512908663</AccountSid>
					<AccountName>NT SERVICE\PowerBIReportServer</AccountName>
				</URL>
			</URLs>
		</Application>
	</URLReservations>
